name: DEPLOY CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
    - uses: actions/checkout@v3
    - name: Setup SSH key
      uses: webfactory/ssh-agent@v0.9.0
      with:
        ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

    - name: Clean deployment directory
      env:
        SSH_HOST: ${{ secrets.SSH_HOST }}
        SSH_USER: ${{ secrets.SSH_USER }}
        DEPLOY_PATH: ${{ vars.DEPLOY_PATH }}
      run: |
        ssh -o StrictHostKeyChecking=no $SSH_USER@$SSH_HOST "rm -rf $DEPLOY_PATH/*"

    - name: Deploy to external server via rsync
      env:
        SSH_HOST: ${{ secrets.SSH_HOST }}
        SSH_USER: ${{ secrets.SSH_USER }}
        DEPLOY_PATH: ${{ vars.DEPLOY_PATH }}
      run: |
        rsync -avz -e "ssh -o StrictHostKeyChecking=no" ./src/ $SSH_USER@$SSH_HOST:$DEPLOY_PATH

